body {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  background-color: black;
  font-size: 24px;
  margin: 0;
}

a {
  text-decoration: none;
}
a {
  color:inherit;
  text-decoration: none;
}
a:hover {
   color: #272929;; 
   text-decoration:none; 
   cursor:pointer;  
}
button:focus {outline:0;}
.pt {
  font-family: 'PT Mono', monospace;
  border-radius: 50%;
}
.tab {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.tab button {
  font-size: 36px;
    font-family: 'PT Mono', monospace;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
  }
  .tab button:hover {
    text-decoration: underline;
  }
  .tab button.active {
   text-decoration: underline;
  }
  
    .content {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .anti-pro{
      position: absolute;
      z-index: -1;
      left: 20%;
      top: 5%;
      font-family: 'PT Mono', monospace;
      font-size: 2.5em;
      text-align: center;
      color: #272929;
      max-width: 800px;
      margin: auto;
      padding: 100px 0;
    }

  .tabcontent {
    display: none;
    padding: 6px 12px; 
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  /*offline content styling */
  .about--first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about--first img{
    max-width: 300px;
  }
  .about--first button {
    position: relative;
    left:-6%;
    text-decoration: none;
    cursor: pointer;
    background: black;
    border: 1px solid yellow;
    border-radius:50%;
    color: white;
    font-size: 24px;
    margin-top: 50px;
    height: 3em;
    width: 14em;
  }
  .about--right {
    padding-left: 100px;
  }
  .about--right--div1 {
    padding-left: 50px;
  }
  .about--quote {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 100px 0;
  }
  .about--bottom {
    max-width: 900px;
    padding: 20px 0;
  }

/* offline page */
.tab-offline {
  position: fixed;
  width:100%;
}
.offline-back  {
  position: absolute;
  font-size: 40px;
  padding: 10px 20px;
  cursor: pointer;
}
.offline-arrow {
  cursor: pointer;
}
.offline-center {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.showPdf {
  display: none;
}

.reborn {
  display: flex;
  flex-direction: column;
  background-color: #272929;
}

.reborn img {
  height: 96vh;
  padding: 20px;
  justify-content: center;
  margin: auto;
}
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }